$color-primary: #081223;
$color-secondary: #35d1e4;
$color-tertiary: #e1d9db;
$color-tertiary-lighter: #e1d9db6e;

$color-grey-darker: #b6afb1;
$color-blue-lighter: #296885;
$color-blue-darker: rgba(8, 18, 35, 0.404);
